%h1#hope_title Hands On Practical Electronics
%div#hope_nav
  - %w(about programs resources faq).each do |name|
    = link_to name.upcase, "http://ieee.berkeley.edu/hope/#{name}/", {:id => "hope_#{name}", :class => "hope_nav_link"} 

%div#hope_content
  %h2 Resources
  %p There doesn't seem to be anything here.
  -#=image_tag("hope_pictures/resources_pic1.jpg", {:class => "hope_pic", :id => "hope_resources1"})
  -#=image_tag("hope_pictures/resources_pic2.jpg", {:class => "hope_pic", :id => "hope_resources2"})  