= form_tag 'sessions' do
  %div
    %p
      = text_field_tag :email, params[:email], :value => "email", :onfocus => "if (this.value == this.defaultValue) {this.value = '';}", :onblur => "if (this.value == '') {this.value = this.defaultValue;}"
    %p
      = text_field_tag :password, params[:password], :value => "password", :onfocus => "if (this.value == this.defaultValue) {this.value = ''; this.type = 'password';}", :onblur => "if (this.value == '') {this.value = this.defaultValue; this.type = 'text';}"
    %p
      %button{:type => "submit"}
        %img.button{:src => "assets/sky/key.png"}/
        Log in
