.event_title {
  color: #343434;
  font-size: 17px;
  line-height: 2em;
}
.event_description {
  padding-top: 0.5em;
  font-size: 12px;
  color: #616161;
}
.event_location, .event_time {
  color: #616161;
  font-size: 12px;
}
#posts {
  width: 65%;
  margin: 2% 0%;
}
.post_content {
  text-align: justify;
  font-size: 13px;
  color: #343434;
}
.post_time {
  color: #616161;
  font-size: 13px;
}
.post_title {
  line-height: 2em;
  font-size: 20px;
}
.post_img {
  float: right;
  margin: 5% 0% 5% 5%;
}
.upcoming_events_title {
  font-size: 20px;
  line-height: 2em;
}
.calendar {
  float: right;
  border-style: none;
}
#page_body {
  width: 70%;
  min-height: 100%;
}
