html, body {
  padding: 0px;
  margin: 0px;
  background: url("../../images/sky/body_bg.png");
  font-family: 'Droid Sans', Arial;
  font-size: 13px;
  color: #343434;
  height: 100%;
  min-width: 920px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 10px 0;
  vertical-align: baseline;
  font-weight: normal;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
a {
  color: #225897;
  text-decoration: none;
}
#container {
  min-width: 920px;
  min-height: 100%;
}
#main {
  width: 920px;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  min-width: 920px;
  margin: 0 auto -70px;
  padding: 20px 0;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#main #sidebar {
  float: right;
  margin: 0 10px;
  padding: 0;
  width: 230px;
}
#main #content {
  width: 70%;
  margin: 0 10px;
  min-height: 100%;
  max-width: 666px;
  text-align: justify;
}
#footer {
  background: url("../../images/sky/usernav_bg.png");
  height: 70px;
  min-width: 920px;
  clear: both;
}
#footer #copyright {
  padding-top: 10px;
  width: 920px;
  min-width: 920px;
  color: #616161;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.clear {
  height: 70px;
  clear: both;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}
.post {
  margin-bottom: 2%;
}
.post .content {
  text-align: justify;
  font-size: 13px;
}
.post_time {
  color: #616161;
}
.post_img {
  float: right;
  margin: 5% 0% 5% 5%;
}
.option {
  color: #616161;
  display: inline;
  margin: 5px 5px 0 0;
}
.event {
  margin: 10px 0px;
}
.event .title_wrapper {
  font-size: 17px;
  height: auto;
}
.event .title_wrapper .title {
  display: inline-block;
  width: 200px;
}
.event .title_wrapper .calendar {
  display: inline-block;
  width: 25px;
  border-style: none;
}
.event .location, .time {
  color: #616161;
}
.event .description {
  padding: 1em 0;
  font-size: 13px;
}
blockquote, address {
  color: #616161;
  padding: 0 30px;
  border-left: 2px solid #225897;
}
