body {
  padding: 0px;
  margin: 0px;
  background: url("../../images/sky/body_bg.png");
  font-family: 'Droid Sans', Arial;
}
a {
  color: inherit;
  text-decoration: none;
}
#wrapper {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#user_nav {
  background: url("../../images/sky/usernav_bg.png");
  height: 30px;
}
#page_header {
  background: url("../../images/sky/header_bg.png");
  height: 150px;
  border-width: 0px 10px 0px 0px;
}
#page_header div.content {
  padding-top: 15px;
}
#sidebar {
  float: right;
  width: 25%;
  margin: 0 5%;
}
#logo {
  background: url("../../images/sky/b_ieee_small.png");
  width: 287px;
  height: 120px;
  float: left;
  display: block;
}
div.content {
  width: 920px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
