%h3 Execs
.post_content
  %p
    Tianbo Xu -- tbox.ieee@gmail.com
    %br/
    Pranava Adduri -- padduri@berkeley.edu
    %br/
    Mark Hettick -- mark.hettick@berkeley.edu
    %br/
    Jeff Tsui -- tsui.jeff@gmail.com
    %br/
    Gabe Fierro -- gt.fierro@berkeley.edu
    %br/
  %h3 IO
  %p
    *Jaclyn Louie 		-- jaclyn.l@berkeley.edu
    %br/
    Jessika Wu 				-- jessika.wu@gmail.com
    %br/
    Muller Zhang 			-- zhangmuller@gmail.com
    %br/
    Ayushi Samaddar 	-- ayushi@berkeley.edu
    %br/
    Navin Eluthesen	 	-- navin.eluthesen@berkeley.edu
    %br/
  %h3 Website
  %p
    *Kristine Chen 		-- kristinechen@berkeley.edu
    %br/
    Jian P Chen 			-- jianpchen@berkeley.edu
    %br/
    Stephanie Chou 		-- stephaniechou@berkeley.edu
    %br/
    Yuval Gnessin 		-- yuval@berkeley.edu
    %br/
    Kevin Sheng 			-- ksheng@berkeley.edu
    %br/
  %h3 Indrel
  %p
    *Mihir Joshi 			-- mihirjoshi@berkeley.edu
    %br/
    Alok Rai 					-- alok.rai@berkeley.edu
    %br/
    Noel Moldvai 			-- noelmoldvai@berkeley.edu
    %br/
    Mano Pagalavan 		-- mano.pagalavan@gmail.com
    %br/
    Benjamin Lui 			-- benlui@berkeley.edu
    %br/
    Amudhan Venkatesan -- amudhan_v@berkeley.edu
    %br/
  %h3 Prodev
  %p
    *Owen Lin 				-- owenlin@berkeley.edu
    %br/
    Jeremy Williams 	-- jeremywilliams@berkeley.edu
    %br/
    Deirdre Chen		 	-- deirdre.chen@berkeley.edu
    %br/
    Aime Ngongang 		-- aimechicago@berkeley.edu
    %br/
    Shawn Williams 		-- shawn.taylor@berkeley.edu
    %br/
  %h3 Tech Ops
  %p
    *Felix Wong 			-- waf@berkeley.edu
    %br/
    Jonathan Hsu 			-- j.hsu@berkeley.edu
    %br/
    Sam Whitlock 			-- whitlock@berkeley.edu
    %br/
    William Ku 				-- williamku@berkeley.edu
    %br/
    Guillaume Bellegarda -- gbellegarda@berkeley.edu
    %br/
  %h3 Activities
  %p
    *Leland Au 				-- lelandau@berkeley.edu
    %br/
    Alice Lee 				-- alice.lee.92@gmail.com
    %br/
    Amanda Ren 				-- aren@berkeley.edu
    %br/
    Annie Shin 				-- annieshin@berkeley.edu
    %br/
    Edward Wu 				-- eddy771@berkeley.edu
    %br/
  %h3 HOPE
  %p
    *Sean Soleyman		- seansoleyman@gmail.com
    %br/
