%h1 Calendar

%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/b/0/embed?showTitle=0&showPrint=0&showTz=0&height=600&wkst=1&bgcolor=%23cccccc&src=rni8q9b5mtf1jf0pk6lb0t3fsg%40group.calendar.google.com&color=%23182C57&src=ouon4b3aus0pmesfldctp88d7k%40group.calendar.google.com&color=%232952A3&src=en.usa%23holiday%40group.v.calendar.google.com&color=%23691426&ctz=America%2FLos_Angeles", :style => " border:solid 1px #777 ", :width => "600"}

- if current_user
  = link_to 'Create New Event', new_event_path
