%h1 Calendar

%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23cccccc&src=ouon4b3aus0pmesfldctp88d7k%40group.calendar.google.com&color=%232952A3&ctz=America%2FLos_Angeles", :style => " border:solid 1px #777 ", :width => "600"}

- if current_user
  = link_to 'Create New Event', events_new_path
