<div class="post_content">
<h1>About Us</h1>

This is the U.C. Berkeley IEEE Student Branch, part of Region 6 (US - West). As an active organization on campus, we provide lab services, promote student professional awareness, participate in high school outreach programs, play a role as a backbone for student-industry networking, and plan student social activities to maintain balance with the technical atmosphere.

IEEE is an acronym standing for Institute of Electrical and Electronics Engineers.

It's an international organization with over 350,000 members, but we here at UC Berkeley can promote services and organize activities locally. Visit www.ieee.com to explore one of the best websites for electrical engineers and those interested in the field.


Mailing address:

IEEE Student Chapter
246 Cory Hall
Berkeley, CA 94720
Lab: 246 Cory Hall
Email address:

ieee -at- berkeley.edu
</div>
