<div class="post_content">
<h1>Industrial Relations</h1>
IEEE is a leading authority on areas ranging from aerospace systems, computers and telecommunications to biomedical engineering, electric power and consumer electronics among others. As the local chapter of IEEE, we strive to provide a faucet of talent and skill to the industry. As one of the world's leading engineering institutions, you can expect nothing but the best from UC Berkeley. 

<h3>Infosessions</h3>
In conjunction with the Electrical Engineering and Computer Science Department, UC Berkeley IEEE also co-hosts several recruiting and publicity Infosessions throughout the year. With typical attendances of over 60 people, our Infosessions are an effective means of reaching the EECS community. We publicize, staff, and acquire food for these events. All you bring is the presentation. Contact us to work out the logistics of holding an Infosession. 

<h3>Resume Book</h3>
<br><i>What is a Resume Book?</i><br/>
The Berkeley IEEE Resume Book contains the resumes of our membership, which from Undergraduate and Graduate Students. Resumes are continually updated and categorized by graduation date and engineering focus to help you find the perfect match for any employment opportunity.<br><br/>

<br><i>How current is the Resume Book?</i><br/>
The Resume Book is typically updated every semester.<br><br/>

<br><i>How much does the Resume Book cost?</i><br/>
We at IEEE ask that you provide a $200 donation for our Resume Book. This donation contributes to our many services to the Engineering Community. These include our High School Engineering Outreach Program, Engineering lab, student mentoring, research database, and Hands-on-Engineering DeCal.<br><br/>

<br><i>How many resumes can be found in the Resume Book?</i><br/>
We have 76 resumes in our current version.<br><br/>

<br><i>How do I order a Resume Book?</i><br/>
Please contact our Industrial Relations Officer to order a copy. <br><br/>
</div>
