<h1>Photo Albums</h1>
<% @p.each do |a| %>
<h2><%= a[:title] %></h2> 
<%= link_to "Slideshow", a[:slideshow] %>
<p>
  <% Picasa.photos(:album_id => a[:id])[:photos].each do |p| %>
  <%= link_to image_tag(p[:thumbnail_1]), p[:photo] %>
  <% end %>
</p>
<% end %>
