%h1 Scope
%h2 About
%p What's the scoop? SCOPE!
%br SCOPE is the student run newsletter of UC Berkeley's chapter of IEEE.
%br For the last 2 years, SCOPE has provided a glimpse into IEEE events and other engineering professional and social activities on campus. It's now available online!
%h2 Issues
%p #{link_to "Issue 2", "/scope/issue2.pdf"}
%p #{link_to "Issue 1", "/scope/issue1.pdf"}

:javascript
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28994622-1']);
    _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
