%h1 Scope
%h2 About
%p What's the scoop? SCOPE!
%br SCOPE is the student run newsletter of UC Berkeley's chapter of IEEE.
%br For the last 2 years, SCOPE has provided a glimpse into IEEE events and other engineering professional and social activities on campus. It's now available online!
%h2 Issues
%p #{link_to "Issue 1", "/scope/issue1.pdf"}
