@import "globals";

#user_nav {
  background: url("../images/sky/usernav_bg.png");
  height: $usernav_height;
  line-height: $usernav_height;
  
  #flash {
    float: left;
    color: #616161;
    height: $usernav_height;
    margin-left: 10px;

    p {
      margin: 5px;
    }

    .alert {
      color: #EF0D0D;
    }

  }

  a {
    float: right;
    margin-right: 10px;

    &.link_login {
        @include set_navigation(499px, -1px, 20px);
    }

    &.link_logout {
        @include set_navigation(499px, -1px, 20px, 2);
    }
  }
}

#header {
  background: url("../images/sky/header_bg.png");
  height: $header_height;
  border-width: 0px 10px 0px 0px;


  .content {
    width: $content_width;
    padding-top: ($header_height - $navigation_height) / 2;
    overflow: auto;
    @include centered();

    #navigation {
      padding: 0px;
      margin: 70px 10px 0px 0px;
      list-style-type: none;
      @include floater(block, right);
      width: $navigation_width;

      a {
        background: url("../images/sky/navigation.png");
        height: 11px;
        text-indent: -9000px;
        @include floater(block, left);

         &.home_link {
            @include set_navigation(-1px, 42px, 21px);
         }

         &.events_link {
            @include set_navigation(51px, 54px, 21px)
         }

         &.ir_link {
             @include set_navigation(120px, 168px, 18px);
         }

         &.hope_link {
             @include set_navigation(305px, 46px, 21px);
         }

         &.scope_link {
             @include set_navigation(371px, 46px, 21px);
         }

         &.about_link {
             @include set_navigation(440px, 70px, 24px);
         }
      }
    }
  }
}

#logo {
  margin-left: 10px;
  display: inline-block;
  width: 287px;
  height: 120px;
}
