<!--[if gt IE 8]> -->
#featured
  =image_tag("features/IEEE-Officers-10-11.jpg", :data=>{:caption=>"#htmlCaption"}, :width=>"900px")
  =image_tag("features/IEEE-Alum-11.jpg", :data=>{:caption=>"#htmlCaption2"}, :style=>"margin:0,auto;", :width=>"900px")
  =image_tag("features/HOPE_2009_1.jpg", :data=>{:caption=>"#htmlCaption3"},:width=>"900px")
  %span.orbit-caption#htmlCaption
    Join our
    =link_to 'Officer Core', "/officers" 
  %span.orbit-caption#htmlCaption2
    Professional Development
  %span.orbit-caption#htmlCaption3
    HOPE DeCal 
    =link_to 'Learn More', "/hope/about/"
<!-- <![endif]-->
  
