<div id="main" class="clearfix">
  <%= render :partial => 'layouts/sidebar' %>
  <div class="flash">
    <% flash.each do |type, message| -%>
    <div class="message <%= type %>">
      <p>
	<%= message %>
      </p>
    </div>
    <% end -%>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
